black
bump2version
cookiecutter
isort
pylint
pytest
pytest-cookies
semantic_version    # check compatibility versioning
yolk3k              # obtains info about installed packages or available in PyPi
